// Breakpoint variables
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

// Breakpoint mixins
@mixin breakpoint-up($size) {
  @if $size == sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $size == xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
}

@mixin breakpoint-down($size) {
  @if $size == sm {
    @media (max-width: #{$breakpoint-sm - 1px}) {
      @content;
    }
  } @else if $size == md {
    @media (max-width: #{$breakpoint-md - 1px}) {
      @content;
    }
  } @else if $size == lg {
    @media (max-width: #{$breakpoint-lg - 1px}) {
      @content;
    }
  } @else if $size == xl {
    @media (max-width: #{$breakpoint-xl - 1px}) {
      @content;
    }
  }
}

// Responsive container padding adjustments
:root {
  @media (max-width: 640px) {
    --container-padding: var(--space-4);
  }
}

// Utility classes
.hide-mobile {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    display: none !important;
  }
}

.hide-desktop {
  @media (min-width: $breakpoint-md) {
    display: none !important;
  }
}
