// Main styles entry point
@use 'variables';
@use 'reset';
@use 'typography';
@use 'responsive';

// Font face definition
@font-face {
  font-family: 'Space Grotesk';
  src: url('/src/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 300 700;
  font-display: swap;
}
